<!DOCTYPE html>
<html lang="zh-cn">
{{template "head"}}
<body>
<header class="header">
    <div class="container">
        <h2><a href="/" target="_blank">{{.SiteName}}</a><small>{{.SubTitle}}</small></h2>
        <nav class="xs-hide">
            <a href="/admin"><i class="fa fa-home"></i> HOME</a>
            <a href="/admin/new"><i class="fa fa-pencil"></i> NEW</a>
            <a href="/admin/redirect"><i class="fa fa-link"></i> REDIRECT</a>
            <a class="active" href="/admin/setting"><i class="fa fa-gear"></i> SETTING</a>
            <a href="/admin/logout"><i class="fa fa-power-off"></i> LOGOUT</a>
        </nav>
        <i class="fa fa-list fa-2x xs-show" id="open-menu"></i>
    </div>
</header>
<section class="new container">
</section>
{{template "footer"}}
</body>
<script src="https://lib.sinaapp.com/js/jquery/1.9.0/jquery.js"></script>
<script src="/static/js/editormd/editormd.min.js"></script>
<script src="/static/js/jquery.tagsinput.js"></script>
<script>
function clickOrTouch(touchType){
    return this.mouseOrTouch("click", touchType);
}

function mouseOrTouch(mouseType, touchType) {
    mouseType = mouseType || "click";
    touchType = touchType || "touchend";

    var eventType = mouseType;

    try {
        document.createEvent("TouchEvent");
        eventType = touchType;
    } 
    catch(e) {} 

    return eventType;
}

var Editor;

$(function(){
    $("#open-menu").bind(clickOrTouch(), function() {
        $("nav").toggleClass("xs-hide");
    });

    $(window).bind('scroll',function(){
        var scrollTop = $(window).scrollTop();
        if(scrollTop > 100)
            $('#go-top').show();
        else
            $('#go-top').hide();
    });

    $('#go-top').click(function(){
        $('html,body').animate({
            scrollTop: '0px'
        }, 800);
    });

    Editor = editormd('editor',{
        {{if .Markdown}}markdown: "{{.Markdown}}",{{end}}
        width: '100%',
        height: 640,
        path: '/static/js/editormd/lib/',
        toolbarIcons:function(){
            return ['undo','redo','|','bold','del','italic','quote','|','h2','h3','h4','h5','h6','|','list-ul','list-ol','hr','|','link','image','code','code-block','table','datetime','html-entities','pagebreak','|','goto-line','watch','fullscreen','clear','search','|','help']
        },
        imageUpload : true,
        imageUploadURL : '/admin/upload',
        htmlDecode : true,
        codeFold: true,
        toc: true,
        tocStartLevel: 2
    });

    $('#new-form').submit(function(){
        $('input[name="html"]').val(Editor.getPreviewedHTML());
        $('#new-form').submit();
    });

    $('input[name="caption"]').blur(function(){
        if($('input[name="slug"]').val() == ''){
            $.get('/admin/slug/' + $('input[name="caption"]').val(), function(result){
                if(result.error == '0'){
                    $('input[name="slug"]').val(result.msg);
                }
            });
        }
    });

    var tag = $('#tag');
    {{range .Tags}}tag.tagsinput('add','{{.}}');{{end}}
});
</script>
</html>
