<!DOCTYPE html>
<html lang="zh-cn">
{{template "head"}}
<body>
<!--[if lte IE 9]>
<div class="browsehappy">
    <p>您正在使用 <strong class="yellow">过时</strong> 的非现代浏览器，<strong class="success">91.23%</strong> 的人选择 <a href="http://browsehappy.com/" target="_blank"><strong class="green">升级浏览器</strong></a>，获得了更好、更安全的浏览体验！</p>
</div>
<![endif]-->
<div class="search">
    <form action="/search" method="get">
        <input type="text" placeholder="请输入要搜索的内容..." name="q" autocomplete="off">
        <button type="submit">搜索</button>
    </form>
</div>
<header class="header">
    <nav>
        <ul class="menu">
            <li><a href="javascript:;" title="文章搜索" id="search">文章搜索</a></li>
        </ul>
    </nav>
    <div class="top">
        <h1>{{.SiteName}}</h1>
        <small>{{.SubTitle}}</small>
    </div>
</header>

<section class="article-list container">
    {{range .Lists}}
    <article>
        <header><a href="/{{.Slug}}" title="{{.Caption}}" class="title">{{.Caption}}</a></header>
        <section class="content">
            {{if .Cover}}<div style="background-image:url({{.Cover}});" class="cover"></div>{{end}}
        </section>
        <footer>
            <span class="author">{{$.Author}}</span>
            <span class="date" data-time="{{.Created}}"><span class="time"></span></span>
        </footer>
    </article>
    {{end}}
</section>
{{if gt .paginator.PageNums 1}}
<section class="container page">
    <ul class="pagination">
        <li><span style="text-align:center;"> {{.paginator.Page}} / {{.paginator.PageNums}} </span></li>
        {{if .paginator.HasNext}}<li><a href="{{.paginator.PageLinkNext}}" title="下一页">下一页</a></li>{{end}}
    </ul>
</section>
{{end}}
{{template "footer"}}
<a href="javascript:;" class="fa fa-arrow-circle-up fa-3x" id="gotop"></a>
</body>
<script src="https://lib.sinaapp.com/js/jquery/1.9.0/jquery.js"></script>
<script src="/static/js/blog.js"></script>
</html>
